*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;
}

.container{
    width: 100%;
}

.container .site-info{
    color: white;
    text-align: center;
    padding-top: 3rem;
}

.container .site-info div{
    margin: 0.3rem;
}

.container .site-info span{
    background-color: yellowgreen;
    font-weight: bold;
}

.center{
    width: 40%;
    margin: 50px auto;
}

.user{
    margin: 0 auto;
}

.heading {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px;
}

button.btn {
    width: 100%;
    padding: 6px;
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: midnightblue;
    color: white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

label{
    font-weight: 600;
    font-size: 21px;
}

input{
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

input#password {
    margin-left: 4px;
}
